@model Member_Organisations.ViewModels.RegisterMemberViewModel
@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    Page.Title = "Register Member";
}


<div id="register" class="wrapper">
    <div class="container" style="text-align: center;">
        
        <h1>Register Member</h1>

        <form method="post" style="width: 320px; margin: auto; padding-top: 30px;">
            <div class="form-group">
                @Html.LabelFor(m => m.member.FName, "Förnamn: ")
                @Html.EditorFor(m => m.member.FName, new { htmlAttributes = new { @class = "form-control" } }) <br />
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.member.LName, "Efternamn: ")
                @Html.EditorFor(m => m.member.LName, new { htmlAttributes = new { @class = "form-control" } }) <br />
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.member.Address, "Adress: ")
                @Html.EditorFor(m => m.member.Address, new { htmlAttributes = new { @class = "form-control" } }) <br />
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.member.PhoneNum, "Telefon Nummer: ")
                @Html.EditorFor(m => m.member.PhoneNum, new { htmlAttributes = new { @class = "form-control" } }) <br />
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.member.OrganisationID, "Organisation: ")
                @Html.DropDownListFor(m => m.member.OrganisationID, new SelectList(Model.orgs, "Id", "Name")) <br />
            </div>
            
            <br />
            <button type="submit" class="btn btn-success">Registrera</button>
        </form>
    </div>
</div>