@model Member_Organisations.ViewModels.RegisterMemberViewModel
@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    Page.Title = "Register Member";
}

<h1>Register member</h1>
<div id="register" class="wrapper">
    <div class="content">
        <form method="post">
            @Html.LabelFor(m => m.member.FName, "Förnamn: ")
            @Html.EditorFor(m => m.member.FName) <br />
            @Html.LabelFor(m => m.member.LName, "Efternamn: ")
            @Html.EditorFor(m => m.member.LName) <br />
            @Html.LabelFor(m => m.member.Address, "Adress: ")
            @Html.EditorFor(m => m.member.Address) <br />
            @Html.LabelFor(m => m.member.PhoneNum, "Telefon Nummer: ")
            @Html.EditorFor(m => m.member.PhoneNum) <br />
            @Html.LabelFor(m => m.member.OrganisationID, "Organisation: ")
            @Html.DropDownListFor(m => m.member.OrganisationID, new SelectList(Model.orgs, "Id", "Name")) <br />
            <br />
            <button type="submit">Registrera</button>
        </form>
    </div>
</div>